
@{
    ViewBag.Title = "Portfolio";
    if (@ViewBag.username == null && @ViewBag.password == null)
    {
        <script>
            alert("please sign in first");
            location.href = "/";
        </script>
    }
}
<h4>can get username : @ViewBag.username</h4>
<h4>can get password : @ViewBag.password</h4>


<!DOCTYPE html>
<html>
<head>
    <title>Data Analytics - User @ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />


    <!-- libraries -->
    <link href="~/Content/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/elements.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
    <!-- this page specific styles -->
    <link rel="stylesheet" href="~/Content/compiled/user-profile.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="Index">Data Analytics</a>

            <ul class="nav pull-right">
                <li class="hidden-phone">
                    <input class="search" type="text" />
                </li>


                <li class="dropdown">
                    <a href="Signin" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        Account...
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="Signin">log in</a></li>
                        <li><a href="Signin">Log out</a></li>
                    </ul>
                </li>
                <li class="settings hidden-phone">
                    <a href="Signin" role="button">
                        Log out
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- end navbar -->
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="Index">
                    <i class="icon-home"></i>
                    <span>Summary</span>
                </a>
            </li>
            <li>
                <a href="Chart">
                    <i class="icon-signal"></i>
                    <span>Charts</span>
                </a>
            </li>
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="#">
                    <i class="icon-group"></i>
                    <span>Portfolio</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- end sidebar -->
    <!-- main container -->
    <div class="content">

        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>

        <div class="container-fluid">
            <div id="pad-wrapper" class="user-profile">
                <!-- header -->
                <div class="row-fluid header">
                    <div class="span8">
                        <img src="img/contact-profile.png" class="avatar img-circle" />
                        <h3 class="name">Alejandra Galván Castillo</h3>
                        <span class="area">Graphic Designer</span>
                    </div>
                </div>

                <div class="row-fluid profile">
                    <!-- bio, new note & orders column -->
                    <div class="span9 bio">
                        <div class="profile-box">
                            <h6>User Portfolio</h6>
                            <br />

                            <!-- recent orders table -->
                            <!-- recent orders table -->
                            <table id="portfolios_table"></table>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="span2">
                                            Order ID
                                        </th>
                                        <th class="span3">
                                            <span class="line"></span>
                                            Date
                                        </th>
                                        <th class="span3">
                                            <span class="line"></span>
                                            Items
                                        </th>
                                        <th class="span3">
                                            <span class="line"></span>
                                            Total amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- row -->
                                    <tr class="first">
                                        <td>
                                            <div class="portfolio"><a id="portfolio_id1" href="detail?portfolioId=1">portfolio1</a></div>
                                        </td>
                                        <td>
                                            Jan 03, 2014
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            $ 3,500.00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->
    <!-- scripts -->
    <script src="~/Scripts/jquery-latest.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/theme.js"></script>
    <script>
        function test() {
            var samplePersonObject = {
                from: "from",
                to: "to",
                split: "split",
                symbols: ["symbol_1", "symbol_2"]
            };

            var jsonSerialized = JSON.stringify(samplePersonObject);

            $.ajax({
                type: "POST",
                url: "/home/savePortfolio",
                dataType: "json",
                contentType: "application/json",
                data: jsonSerialized,
                success: function (result) {
                    console.log(result); //log to the console to see whether it worked
                },
                error: function (error) {
                    alert("There was an error posting the data to the server: " + error.responseText);
                }
            });
            return false;
        }
    </script>
    <input type="button" onclick="return test()" value="SignUp" />
</body>
</html>


